/* general styles */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #101828;
  text-align: center;
}

a {
  text-decoration: none;
}
/* desktop screen, profile.js styles*/

.profile {
  padding: 2rem 2rem;
  font-family: 'Inter';
}

.pointer {
  margin-left: 80%;
  display: block;
  padding-right: 2rem;
}

.face-card-container {
  position: relative;
  width: 88px;
  height: 88px;
  backface-visibility: hidden;
  margin-left: auto;
  margin-right: auto;
}

.face-card-container:focus {
  border: 5.5px solid #EBE9FE;
  border-radius: 50%;
  width: 88px;
  height: 88px;
}

.face-card-container:hover .middle {
  opacity: 1;
}

.face-img {
  position: relative;
  height: 88px;
  width: 88px;
  border-radius: 50%;
  z-index: 0;
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  position: absolute;
  transition: .3s ease;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: inline;
  width: 88px;
  height: 88px;
  border-radius: 50%;
  background: #374e4d94;
}

.face-img:hover {
  opacity: 0.6;
}

.camara {
  position: absolute;
  z-index: 2;
  margin-top: 3.5rem;
  transform: translate(-50%, -50%);
}

.camara:hover {
  display: block;
}

h3 {
  padding: 1rem;
}

/* desktop screen, app.js styles*/

.link-container {
  background-color: white;

}

.anchor {
  display: block;
  min-width: 70%;
  color: #101828;
}

.button {
  padding: 24px 32px;
  margin: 8px 0px;
  width: 80%;
  height: 76px;
  background: #EAECF0;
  border: 1px solid #EAECF0;
  border-radius: 8px;
  font-size: 18px;
  color: #101828;
  margin-left: auto;
  margin-right: auto;
}

.button:hover {
  background-color: #0f1218bf;
  color:#EAECF0;
}
/*  desktop screen footer.js styles */

.footer  {
  padding: 1rem 0;
}

.slack a {
  padding-top: 3rem;
}
#img-slack{
  padding-top: 2rem;
}

hr {
  width: 75%;
  color: #EAECF0;
  margin-right: auto;
  margin-left: auto;
  margin-top: 4rem;
  margin-bottom: -3rem;
}

.zuri {
  padding-top: 5rem;
  display: flex;
  justify-content: space-around;
}

.zuri p {
  color: #EAECF0;
  font-size: 25px;
}

#contact {
  color: #101828;
}

@media only screen and (max-width: 850px) {
  .zuri {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding-left: 2rem;
  }
  .zuri img {
    width: 40%;
    padding: 1rem 0px;
  }
}